<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Italian Verb Conjugator</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/stylesheet.css">
  <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<body>
    <h1 class="center">Italian Verb Conjugator</h1>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Verb</span>
        </div>
        <input id="input-form" type="text" class="form-control" placeholder="Input Verb" aria-label="Input verb">
    </div>
    
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Person</label>
      </div>
      <select class="custom-select person" id="inputGroupSelect01">
        <option selected>Choose person...</option>
        <option>io</option>
        <option>tu</option>
        <option>lui</option>
        <option>lei</option>
        <option>noi</option>
        <option>voi</option>
        <option>loro</option>
      </select>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect02">Mood</label>
      </div>
      <select class="custom-select mood" id="inputGroupSelect02">
        <option selected>Choose verb mood...</option>
        <option>indicative</option>
        <option>subjunctive</option>
        <option>conditional</option>
        <option>imperative</option>
      </select>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect03">Tense/Aspect</label>
      </div>
      <select class="custom-select mood" id="inputGroupSelect03">
      </select>
    </div>


    <table>
      <thead>
        <tr>
          <th>Verb</th>
          <th>Person</th>
          <th>Mood</th>
          <th>Tense/Aspect</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="output-text"></td>
          <td class="output-person"></td>
          <td class="output-mood"></td>
          <td class="output-tense"></td>
        </tr>
      </tbody>
    </table>
    

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Conjugated Verb</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../static/app.js"></script>

</body>

</html>